<div class="show" id="show_<%= show.id %>">
  <div class="name"><%= show.name %></div>
  <div class="description"><%= show.description %></div>
  <div class="owner"><%= "(#{show.owner.name})" if show.owner %></div>
  <div class="timeslots"><%= "[ #{show.time_slots.sort_by(&:wday).collect{|t| t.day_name+'-'+t.start_at.strftime('%I%p')}.join(', ')} ]" %></div>
  <div class="actions">
    <%= link_to "view", show_path(show), :id=>"view_show_#{show.id}" %>
    <%= link_to "edit", edit_show_path(show), :id=>"edit_show_#{show.id}" %>
    <%= link_to "delete", show_path(show), :method=>:delete, :id=>"delete_show_#{show.id}" %>
  </div>
</div>
