<div class="dj_profile" id="<%= dj_profile.id %>">
  <div class="name"><%= dj_profile.name %></div>
  <div class="email"><%= dj_profile.email %></div>
  <div class="twitter"><%= dj_profile.twitter_id %></div>
  <div class="facebook"><%= dj_profile.facebook_url %></div>
</div>

