<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <title>Yar we be pirates. <%= @section_title %></title>

    <%= stylesheet_link_tag "formtastic", "formtastic_changes", "formtastic_customized" if include_form_styles? %>
<style type="text/css">
<!--
<%= yield(:styles) %>
-->
</style>
   <%= yield(:scripts) %>
  </head>
  <body>
       <div id="flashes">
       <%=  flash_for :error %>
       <%=  flash_for :notice %>
       <%=  flash_for :success %>
       </div>
       <%= yield %>
  </body>
</html>
